<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <asp:ScriptReference Name="MsAjaxBundle" />
    <asp:ScriptReference Name="jquery" />
    <asp:ScriptReference Name="bootstrap" />
    <asp:ScriptReference Name="WebFormsBundle" />
    <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebUIValidation.js" />
    <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/MenuStandards.js" />
    <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/GridView.js" />
    <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/DetailsView.js" />
    <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/TreeView.js" />
    <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebParts.js" />
    <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/Focus.js" />
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .twitter-follow-button[style] { vertical-align: text-bottom !important; }
        .twitter-mention-button[style] { vertical-align: text-bottom !important; }
        .fb-like[style] { vertical-align: top !important; }

        body.custom-background { background-color: #EBEFF6; }
    </style>

    <script type="text/javascript">
        // Redirect User 1 Minute Before Session Timeout
        var sessionTimeoutWarning = @Session.Timeout- 1;

        var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
        setTimeout('SessionEnd()', sTimeout);

        function SessionEnd() {
            window.location = "/Users/Cancel";
        }
    </script>

</head>
<body class="custom-background">
    <div id="fb-root"></div>
    <table style="position:fixed; top:0; width:100%; height:20px">
        <tr>
            <td colspan="4" style="background-color:black; height:80px;">
                <table style="width:100%">
                    <tr style="vertical-align:middle;">
                        <td style="width:20%; text-align:center" class="Header"><h2>Cellable</h2></td>
                        <td style="text-align:left; vertical-align:middle; width:50%">
                            <div style="display: inline-block; width:80px">@Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "NavLink" })</div>
                            <div style="display: inline-block; width:80px">@Html.ActionLink("About", "About", "Home", new { }, new { @class = "NavLink" })</div>
                            @if (System.Web.HttpContext.Current.Session["LoggedInUser"] != null && Session["LoggedInUser"].ToString() != "")
                            {
                                <div style="display: inline-block; width:80px">@Html.ActionLink("Logout", "Cancel", "Users", new { }, new { @class = "NavLink" })</div>
                            }
                            else
                            {
                                <div style="display: inline-block; width:80px">@Html.ActionLink("Login", "Login", "Users", new { }, new { @class = "NavLink" })</div>
                            }
                            <div style="display: inline-block; width:80px">@Html.ActionLink("Sell", "Phones", "Phones", new { }, new { @class = "NavLink" })</div>
                            @if (System.Web.HttpContext.Current.Session["LoggedInUser"] != null && Session["LoggedInUser"].ToString() != "")
                            {
                                <div style="display: inline-block; width:80px">@Html.ActionLink("Tracking", "TrackOrders", "Users", new { }, new { @class = "NavLink" })</div>
                            }
                        </td>
                        @*<td style="width:7%; text-align:left">@Html.ActionLink("Register", "Register", "Users", new { }, new { @class = "NavLink" })</td>*@
                    <td style="width:20%; text-align:left">
                        @using (Html.BeginForm("SearchResults", "Phones", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="search" id="searchString" name="searchString" placeholder="Search For Your Phone" style="width:400px">@Html.Raw("&nbsp;&nbsp;")
                            <button type="submit" name="submit" id="submit" value="submit" style="background-color:black; border-color:black"><i class="fa fa-search" style="color:lawngreen"></i></button>
                        }
                    </td>
                        <td style="width:10%; text-align:center;">
                            @if (System.Web.HttpContext.Current.Session["LoggedInUser"] != null && Session["LoggedInUser"].ToString() != "")
                            {
                                <i class="LoggedIn">Logged in as:<br /><div style="color:lawngreen">@Session["LoggedInUser"]</div></i>
                            }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td style="padding:20px; width:100%; vertical-align:top;">
                <div style="height:50px"></div>
                @RenderBody()
            </td>
        </tr>
    </table>
    <table style="position:fixed; bottom:0; width:100%; background-color:black">
        <tr>
            <td style="text-align:left; width:5%;">
            </td>
            <td style="text-align:left; width:30%;">
                <div class="Header">&copy; @DateTime.Now.Year - Cellable</div>
            </td>
            <td style="text-align:center; width:30%;">
                @Html.ActionLink("Support", "Support", "Home", new { }, new { @class = "NavLink" })<div style="width:30px; display:inline-block"></div>@Html.ActionLink("About Us", "About", "Home", new { }, new { @class = "NavLink" })<div style="width:30px; display:inline-block"></div>@Html.ActionLink("Contact Us", "Contact", "Home", new { }, new { @class = "NavLink" })
            </td>
            <td style="text-align:right; width:30%; height:40px;">
                <a href="https://www.facebook.com/CellableApp/"><i class="fa fa-facebook" style="color:grey;"></i></a>
                &nbsp;
                <a href="https://twitter.com/Cellable"><i class="fa fa-twitter" style="color:grey"></i></a>
                &nbsp;
                <i class="fa fa-pinterest-p" style="color:grey"></i>
                &nbsp;
                <i class="fa fa-tumblr" style="color:grey"></i>
            </td>
            <td style="width:5%"></td>
        </tr>
    </table>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
