<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <asp:ScriptReference Name="MsAjaxBundle" />
    <asp:ScriptReference Name="jquery" />
    <asp:ScriptReference Name="bootstrap" />
    <asp:ScriptReference Name="WebFormsBundle" />
    <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebUIValidation.js" />
    <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/MenuStandards.js" />
    <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/GridView.js" />
    <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/DetailsView.js" />
    <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/TreeView.js" />
    <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebParts.js" />
    <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/Focus.js" />
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div id="fb-root"></div>
    <table style="position:fixed; top:0; width:100%; height:20px">
        <tr>
            <td colspan="4" style="background-color:black; height:80px;">
                <table style="width:100%">
                    <tr style="vertical-align:middle;">
                        <td style="width:20%; text-align:center" class="Header"><h2>Cellable</h2></td>
                        <td style="text-align:left; vertical-align:middle">
                            <div style="display: inline-block; width:80px">@Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "NavLink" })</div>
                            <div style="display: inline-block; width:80px">@Html.ActionLink("About", "Index", "PhoneVersions", new { }, new { @class = "NavLink" })</div>
                            <div style="display: inline-block; width:80px">@Html.ActionLink("Sell", "Index", "Carriers", new { }, new { @class = "NavLink" })</div>
                        </td>
                        <td style="width:7%; text-align:left">@Html.ActionLink("Register", "Register", "Users", new { }, new { @class = "NavLink" })</td>
                        <td style="width:20%; text-align:left">@Html.ActionLink("Login", "Login", "Users", new { }, new { @class = "NavLink" })</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td style="padding:20px; width:100%; vertical-align:top;" colspan="4">
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td style="text-align:left">
                <div style="display: inline-block; width:43%; padding:10px; text-align:center">&copy; @DateTime.Now.Year - Cellable Admin</div>
                <div style="display: inline-block; width:80px">Support</div>
                <div style="display: inline-block; width:80px">About Us</div>
                <div style="display: inline-block; width:80px">Contact Us</div>
                <div style="display: inline-block; width:35%; text-align:right; vertical-align:bottom;">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:70%; padding:3px">
                                <a href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow us on Twitter</a>
                                <a href="https://twitter.com/intent/tweet?screen_name=TwitterDev&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Mention us on Twitter</a>
                            </td>
                            <td style="vertical-align:top; padding:3px">
                                <a href="https://www.facebook.com/CellableApp/" class="fb-like" data-layout="button_count" data-action="recommend" data-size="small" data-share="true"></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
