@{string AdminEmail = System.Configuration.ConfigurationManager.AppSettings["AdminEmail"]; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.25, maximum-scale=1" />
    <title>Cellable - @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <asp:ScriptReference Name="MsAjaxBundle" />
    <asp:ScriptReference Name="jquery" />
    <asp:ScriptReference Name="bootstrap" />
    <asp:ScriptReference Name="WebFormsBundle" />
    <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebUIValidation.js" />
    <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/MenuStandards.js" />
    <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/GridView.js" />
    <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/DetailsView.js" />
    <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/TreeView.js" />
    <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebParts.js" />
    <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/Focus.js" />
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .twitter-follow-button[style] {
            vertical-align: text-bottom !important;
        }

        .twitter-mention-button[style] {
            vertical-align: text-bottom !important;
        }

        .fb-like[style] {
            vertical-align: top !important;
        }

        body.custom-background {
            background-color: #EBEFF6;
        }

        .checked {
            color: orange;
        }

        html, body {
            width: 100%;
            padding: 0px;
            margin: 0px;
            overflow-x: hidden;
        }
    </style>

    <script type="text/javascript">
        // Redirect User 1 Minute Before Session Timeout
        var sessionTimeoutWarning = @Session.Timeout- 1;

        var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
        setTimeout('SessionEnd()', sTimeout);

        //window.history.forward();
        //function noBack()
        //{
        //    window.history.forward();
        //}

        function SessionEnd() {
            window.location = "/Users/Cancel";
        }

        //window.mobilecheck = function() {
        //var check = false;
        //(function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
        //    return check;
        //    alert(check);
        //};
    </script>
</head>
<body>
    <div id="fb-root"></div>
    <table style="position:fixed;top:0; width:100%; height:20px; z-index:100">
        <tr>
            <td colspan="4" style="background-color:black; height:80px;">
                <table style="width:100%">
                    <tr style="vertical-align:middle;">
                        <td style="width:20%; text-align:center;" class="Header">
                            <h2>@Html.ActionLink("Cellable", "Index", "Home", new { }, new { style = "color:lawngreen;" })</h2>
                            @{ var total = int.Parse(Session["AvgStars"].ToString()); }
                            @for (int i = 1; i <= total; i++)
                            {
                                <span class='fa fa-star checked'></span>
                            }
                            (ratings: @Session["TotalStars"])
                        </td>
                        <td style="text-align:left; vertical-align:middle; width:50%">
                            <div style="display: inline-block; width:80px">@Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "NavLink" })</div>
                            <div style="display: inline-block; width:80px">@Html.ActionLink("About", "About", "Home", new { }, new { @class = "NavLink" })</div>
                            @if (System.Web.HttpContext.Current.Session["LoggedInUser"] != null && Session["LoggedInUser"].ToString() != "")
                            {
                                <div style="display: inline-block; width:80px">@Html.ActionLink("Logout", "Cancel", "Users", new { }, new { @class = "NavLink" })</div>
                            }
                            else
                            {
                                <div style="display: inline-block; width:80px">@Html.ActionLink("Login", "Login", "Users", new { }, new { @class = "NavLink" })</div>
                            }
                            <div style="display: inline-block; width:50px">@Html.ActionLink("Sell", "Phones", "Phones", new { }, new { @class = "NavLink" })</div>
                            @if (System.Web.HttpContext.Current.Session["LoggedInUser"] != null && Session["LoggedInUser"].ToString() != "")
                            {
                                <div style="display: inline-block; width:80px">@Html.ActionLink("Tracking", "TrackOrders", "Users", new { }, new { @class = "NavLink" })</div>
                            }
                            <div style="display: inline-block; width:50px"><a href="https://www.ebay.com/usr/cellable.llc" class="NavLink">Buy</a></div>
                        </td>
                        @*<td style="width:7%; text-align:left">@Html.ActionLink("Register", "Register", "Users", new { }, new { @class = "NavLink" })</td>*@
                        <td style="width:20%; text-align:left">
                            @using (Html.BeginForm("SearchResults", "Phones", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <button type="submit" name="submit" id="submit" value="submit" style="float:right; background-color:black; border-color:black; float:right"><i class="fa fa-search" style="color:lawngreen"></i></button>
                                <div style="overflow: hidden; padding-right: .5em;">
                                    <input type="search" id="searchString" name="searchString" placeholder="Search For Your Phone" style="width:400px">@Html.Raw("&nbsp;&nbsp;")
                                </div>
                            }
                        </td>
                        <td style="width:10%; text-align:center;">
                            @if (System.Web.HttpContext.Current.Session["LoggedInUser"] != null && Session["LoggedInUser"].ToString() != "")
                            {
                                <i class="LoggedIn">Logged in as:<br /><div style="color:lawngreen">@Session["LoggedInUser"]</div></i>
                            }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td style="padding:20px; width:100%; vertical-align:top;">
                <div style="height:70px"></div>
                @RenderBody()
            </td>
        </tr>
    </table>
    <table style="position:fixed; bottom:0; width:100%; background-color:black">
        <tr>
            <td style="text-align:left; width:5%;">
            </td>
            <td style="text-align:left; width:30%;">
                <div class="Header">&copy; @DateTime.Now.Year - Cellable</div>
            </td>
            <td style="text-align:center; width:30%;">
                <a href="mailto:@AdminEmail" class="NavLink">Support</a>
                <div style="width:30px; display:inline-block"></div>
                @Html.ActionLink("About Us", "About", "Home", new { }, new { @class = "NavLink" })
                <div style="width:30px; display:inline-block"></div>
                @Html.ActionLink("Contact Us", "Contact", "Home", new { }, new { @class = "NavLink" })
            </td>
            <td style="text-align:right; width:30%; height:40px;">
                <a href="https://www.facebook.com/CellableApp/"><i class="fa fa-facebook" style="color:grey;"></i></a>
                &nbsp;
                <a href="https://instagram.com/Cellable"><i class="fa fa-instagram" style="color:grey"></i></a>
            </td>
            <td style="width:5%"></td>
        </tr>
    </table>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
