@{
    var testimonals = ViewBag.Testimonials;
}

<style>
    .checked {
        color: orange;
    }

    /* Slideshow container */
    .slideshow-container {
        position: relative;
        background: #EBEFF6;
    }

    /* Slides */
    .mySlides {
        display: none;
        padding: 80px;
        text-align: center;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "previous button" to the left */
    .prev {
        position: absolute;
        left: 0;
        border-radius: 3px 0 0 3px;
    }

    /* Position the "next button" to the right */
    .next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
            color: white;
        }

    /* The dot/bullet/indicator container */
    .dot-container {
        text-align: center;
        padding: 20px;
        background: #ddd;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

        /* Add a background color to the active dot/circle */
        .active, .dot:hover {
            background-color: #717171;
        }

    /* Add an italic font style to all quotes */
    q {
        font-style: italic;
    }

    /* Add a blue color to the author */
    .author {
        color: cornflowerblue;
    }
</style>

<table style="width:70%; margin-left:auto; margin-right:auto;">
    <tr>
        <td>
            <h4>@ViewBag.Title</h4>
            <hr />
            @ViewBag.Text
            <table style="width:100%">
                <tr>
                    <td style="text-align:center;">
                        <table style="width:100%; margin-left:auto; margin-right:auto;">
                            <tr><td style="height:20px;"></td></tr>
                            <tr>
                                <td>
                                    @ViewBag.Body
                                </td>
                            </tr>
                            <tr><td style="height:20px;"></td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width:100%; text-align:center;">
                        <div class="slideshow-container">
                            @foreach (var testimonial in testimonals)
                            {
                                if (testimonial.Text != "")
                                {
                                    <div class="mySlides">
                                        @for (var i = 1; i <= testimonial.Rating; i++)
                                        {

                                            @Html.Raw("<span class='fa fa-star checked'></span>");
                                        }
                                        <i>@Html.Raw(testimonial.Text)</i>
                                    </div>
                                }
                                <a class="prev" onclick="plusSlides(-1)">❮</a>
                                <a class="next" onclick="plusSlides(1)">❯</a>
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:100%; text-align:center;">
                        <div class="dot-container">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:100%; text-align:center;">
                        <img src="~/Pictures/@ViewBag.Image" alt="mountains" height: 100px; style=" height: 400px; width: 1200px; margin-top: 5px; " />
                        <hr />
                        <br />
                        <p>@ViewBag.Footer</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
