@model IEnumerable<CellableMVC.Models.PhoneVersion>

@{
    ViewBag.Title = "Phone Versions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function SetCellCount() {
        @Url.Action("Index","PhoneVersions")
    }
</script>

@*@using (Html.BeginForm("Index", "PhoneVersions", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table>
            <tr style="padding:2px">
                <td style="width:45%; padding:2px">
                    <button onclick="location.href='@Url.Action("Create", "PhoneVersions")';return false;" class="btn btn-default">New Version</button>
                </td>
                <td style="width:15%; padding:2px">
                    @Html.DropDownList("brandId", new SelectList(ViewBag.PhoneBrands, "PhoneId", "Brand", @ViewBag.BrandId), "-- Filter Brand --", new { onchange = "this.form.submit();", @class = "form-control" })
                </td>
                <td style="width:15%; padding:2px">
                    @Html.DropDownList("StorageCapacityId", new SelectList(ViewBag.StorageCapacities, "StorageCapacityId", "StorageCapacity1", @ViewBag.StorageCapacityId), "-- Filter GB --", new { onchange = "this.form.submit();", @class = "form-control" })
                </td>
                <td style="width:15%; padding:2px">
                    <input type="text" id="searchString" name="searchString" class="form-control" placeholder="Search" value="@ViewBag.SearchString" />
                </td>
                <td style="width:10%; padding:2px">
                    <button type="submit" name="submit" id="submit" value="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    <button type="submit" name="submit" id="reset" value="reset" class="btn btn-default" onclick="location.href='@Url.Action("Index", "PhoneVersions")';return false;"><i class="fa fa-undo"></i></button>
                </td>
            </tr>
        </table>
    }*@

<table style="width:70%; margin-left:auto; margin-right:auto;">
    <tr>
        <td>
            <h4>Sell Your broken or used Iphone for cash</h4>
            <hr />
            <div class="text-danger" style="text-align:center">@Request.Params["msg"]</div>
            <table style="width:80%; margin-left:auto; margin-right:auto;">
                @{
                    int cellCount = 0;
                    int cellLimit = 4;
                }

                @foreach (var item in Model)
                {
                    if (cellCount != cellLimit)
                    {
                        cellCount++;
                    }
                    else
                    {
                        cellCount = 1;
                    }

                    if (cellCount == 1)
                    {
                        @Html.Raw("<tr>");
                    }

                    <td style="text-align:center; padding:6px">
                        <img src="~/Pictures/@item.ImageName" alt="@item.ImageName" style="height:250px; width:130px;" />
                        <br />
                        @Html.DisplayFor(modelItem => item.Phone.Brand)
                        <br />
                        @Html.DisplayFor(modelItem => item.Version)
                        <br />
                        Base Cost: $@Html.DisplayFor(modelItem => item.BaseCost)
                        <br />
                        @Html.ActionLink("Edit", "DefectQuestions", new { id = item.VersionId })
                    </td>

                    if (cellCount == cellLimit)
                    {
                        @Html.Raw("</tr>");
                    }
                }
                @if (Model.Count() == 0)
                {
                    @Html.Raw("<div style='width:100%; text-align:center;' class='text-danger'>No Records Found</div>");
                }
            </table>
        </td>
    </tr>
</table>