@model IEnumerable<CellableMVC.Models.vmOrderDetails>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function popupWindow(trackingNumber, win, w, h) {
        const y = win.top.outerHeight / 2 + win.top.screenY - (h / 2);
        const x = win.top.outerWidth / 2 + win.top.screenX - (w / 2);
        return win.open("/Mail/_USPSTrackingMessage?trackingNumber=" + trackingNumber, "USPS Tracking", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + y + ', left=' + x);
    }
</script>

<h2>@ViewBag.Title</h2>
<hr />
<p>
    @ViewBag.Text
</p>

<table class="table">
    <tr style="background-color:black; color:lawngreen">
        <th>
            Phone
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromoCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentUserName)
        </th>
        <th>
            USPS Tracking
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
    </tr>

    @{ var count = 0; }
    @foreach (var item in Model)
    {
        if (count > 0) { count = 0; } else { count++; }
        <tr @if (count == 0) { @Html.Raw("style='background-color:lightgrey'") ; }>
            <td>
                @Html.DisplayFor(modelItem => item.Brand) @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusType)
            </td>
            <td>
                @{
                    if (item.PromoName != null)
                    {
                        @Html.DisplayFor(modelItem => item.PromoCode);
                    }
                    else
                    {
                        @Html.Raw("---");
                    }
                }
            </td>
            <td>
                @{
                    if (item.PromoName != null)
                    {
                        @Html.DisplayFor(modelItem => item.PromoName);
                    }
                    else
                    {
                        @Html.Raw("---");
                    }
                }
            </td>
            <td>
                @{
                    if (item.PromoName != null)
                    {
                        @Html.DisplayFor(modelItem => item.Discount); @Html.Raw("%");
                    }
                    else
                    {
                        @Html.Raw("---");
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentUserName)
            </td>
            <td>
                <div onclick="popupWindow('EJ958083578US', window, 400, 400)" style="color:blue; cursor:pointer;">EJ958083578US</div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
        </tr>
    }
</table>
<table style="width:70%; margin-left:auto; margin-right:auto;">
    <tr>
        <td style="text-align:center; vertical-align:bottom; height:150px;">
            @ViewBag.Footer
        </td>
    </tr>
</table>
